/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Anotomy of css
selector {
	property: value;
}

.class
#id
*/

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, p {
	margin-bottom: 22px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	display: inline-block;
	margin: 0;
}

.btn-alt {
	padding: 1em 3em;
}

.btn:hover {
    background-color: #648880;
}

header {
	display: flex;
	font-size: 5em;
	align-items: center;
	justify-content: center;
	height: 1.5em;
	white-space: nowrap;
	/*border-radius: 5px;*/
}

nav {
	display: flex;
	flex-direction: row;
}

.right {
	float: right;
}

html, body {
	height: 100%;
}

body {
	font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
}

h2 {
	display: flex;
	font-size: 3em;
	align-items: center;
	justify-content: center;
	line-height: 1em;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
	height: 5%;
	margin-bottom: 0px;
	background-color: gray;
}

.social_media_logo {
	height: 1.75em;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#top_bar {
	background-color: lightgray;
	border: 1px solid darkgray;
	display: block
}

#linky_boi {
  flex: 25%;
  max-width: 75%;
  padding: 0 4px;
}

#mail_button {
	font-size: 2em;
	color: black;
	transition: ease .5s;
}

#mail_button:hover {
	transform: rotate(-20deg);
}